In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()

In [3]:
corpus=[
    'I love coding.',
    'Coding is fun.',
    'I love doing projects.',
]

In [4]:
x=vectorizer.fit_transform(corpus)
print(vectorizer.get_feature_names_out())
print(x.toarray())

['coding' 'doing' 'fun' 'is' 'love' 'projects']
[[0.70710678 0.         0.         0.         0.70710678 0.        ]
 [0.4736296  0.         0.62276601 0.62276601 0.         0.        ]
 [0.         0.62276601 0.         0.         0.4736296  0.62276601]]

In [5]:
df=pd.read_csv('train.csv')
df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [6]:
df['text']=df['text'].fillna("")

In [7]:
vectorizer=TfidfVectorizer(max_features=1000)
vectorizer.fit(df['text'])
tf_idf_data_frame = pd.DataFrame(vectorizer.transform(df['text']).toarray() , columns=vectorizer.get_feature_names_out())

In [8]:
print(tf_idf_data_frame.head())

    10  100   11   12   15  1st   20  2day   30  4th  ...  yet   yo       you  \
0  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
1  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.231528
2  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
3  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...  0.0  0.0  0.000000

   your  yours  yourself  youtube  yum  yummy   Â½m
0   0.0    0.0       0.0      0.0  0.0    0.0  0.0
1   0.0    0.0       0.0      0.0  0.0    0.0  0.0
2   0.0    0.0       0.0      0.0  0.0    0.0  0.0
3   0.0    0.0       0.0      0.0  0.0    0.0  0.0
4   0.0    0.0       0.0      0.0  0.0    0.0  0.0

[5 rows x 1000 columns]